/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gotham', sans-serif;
    background-color: #f9f9f9;
    overflow-x: hidden;
}

/* Topo da página */
.topo {
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
}

.retangulo {
    background-color: #e0e0e0;
    padding: 10px 20px;
    border-radius: 5px;
}

.online-portfolio {
    font-family: 'Open Sauce', sans-serif;
    font-size: 20px;
    color: #333;
}

.linha {
    flex-grow: 1;
    height: 2px;
    background-color: #e0e0e0;
    margin: 0 20px;
}

.ano {
    font-family: 'Open Sauce', sans-serif;
    font-size: 20px;
    color: #333;
}

/* Conteúdo principal */
main {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinhar à esquerda */
    background-image: url('assets/images/5.png');
    background-size: cover;
    background-position: center;
    opacity: 0.7; /* Transparência de 70% */
    padding-left: 10%; /* Espaçamento à esquerda */
}

.titulo {
    text-align: left; /* Alinhar texto à esquerda */
    color: #333;
}

h1 {
    font-size: 102px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 2px; /* Espaçamento entre letras */
}

h2 {
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 8px; /* Aumentar espaçamento entre letras */
    text-transform: uppercase; /* Garantir que o texto fique em maiúsculas */
}